flows.json
[
    {
        "id": "4c268976.35a2b8",
        "type": "tab",
        "label": "Dashboard Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a3a7de06.2a331",
        "type": "mqtt-broker",
        "z": "",
        "name": "RFID",
        "broker": "192.168.0.17",
        "port": "1883",
        "clientid": "mqtt",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "9eda2ac0.a95af",
        "type": "ui_group",
        "z": "",
        "name": "Painel",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "fb66d7ea.443fc8",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "fc4fedc7.bd4a2",
        "type": "ui_tab",
        "z": "",
        "name": "Compras",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f74dcf8f.44fcf8",
        "type": "ui_group",
        "z": "",
        "name": "Configurações",
        "tab": "fc4fedc7.bd4a2",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6b98955.0affeec",
        "type": "ui_group",
        "z": "",
        "name": "Produtos",
        "tab": "fc4fedc7.bd4a2",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d87e0898.1a00b8",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "d35dcd3c.86fab8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "6b98955.0affeec",
        "order": 2,
        "width": "1",
        "height": 1
    },
    {
        "id": "a682ac8b.64f3f",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "6b98955.0affeec",
        "order": 4,
        "width": "1",
        "height": 1
    },
    {
        "id": "28998c9c.0afcc4",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "6b98955.0affeec",
        "order": 6,
        "width": "1",
        "height": 1
    },
    {
        "id": "bbe5e7b4.52682",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "6b98955.0affeec",
        "order": 8,
        "width": "1",
        "height": 1
    },
    {
        "id": "cf6d417a.12861",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "ea57c47.28e4338",
        "order": 2,
        "width": 3,
        "height": 1
    },
    {
        "id": "9c591e6e.9dacf",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "ea57c47.28e4338",
        "order": 4,
        "width": 3,
        "height": 1
    },
    {
        "id": "8710ba67.7fe678",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "6b98955.0affeec",
        "order": 10,
        "width": "1",
        "height": 1
    },
    {
        "id": "2293ad29.e07eba",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "ea57c47.28e4338",
        "order": 8,
        "width": 3,
        "height": 1
    },
    {
        "id": "d1dc5722.26971",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "ea57c47.28e4338",
        "order": 8,
        "width": 3,
        "height": 1
    },
    {
        "id": "382b361b.660f82",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "ea57c47.28e4338",
        "order": 6,
        "width": 3,
        "height": 1
    },
    {
        "id": "36fab9ab.948b16",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 4,
        "width": 3,
        "height": 1
    },
    {
        "id": "52fb239f.6a0614",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 2,
        "width": 3,
        "height": 1
    },
    {
        "id": "fdebf9fb.37f0e",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "6b98955.0affeec",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "de3d7996.0e8678",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "6b98955.0affeec",
        "order": 18,
        "width": 1,
        "height": 1
    },
    {
        "id": "e116f9a5.cc329",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "6b98955.0affeec",
        "order": 22,
        "width": 1,
        "height": 1
    },
    {
        "id": "ecee62c3.398d8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "6b98955.0affeec",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "d633749b.a9901",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "6b98955.0affeec",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "45c61b13.70bac4",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "6b98955.0affeec",
        "order": 24,
        "width": 1,
        "height": 1
    },
    {
        "id": "30f58967.e2feb6",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "6b98955.0affeec",
        "order": 20,
        "width": 1,
        "height": 1
    },
    {
        "id": "54815a9a.d901ec",
        "type": "ui_group",
        "z": "",
        "name": "Ações",
        "tab": "fc4fedc7.bd4a2",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "60999632.a77d68",
        "type": "ui_gauge",
        "z": "4c268976.35a2b8",
        "name": "",
        "group": "6b98955.0affeec",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Frutas",
        "label": "",
        "format": "",
        "min": 0,
        "max": "1",
        "colors": [
            "#b50000",
            "#e6e600",
            "#6eca38"
        ],
        "seg1": "",
        "seg2": "",
        "x": 530,
        "y": 400,
        "wires": []
    },
    {
        "id": "5b0e54f0.07ad7c",
        "type": "ui_gauge",
        "z": "4c268976.35a2b8",
        "name": "",
        "group": "6b98955.0affeec",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Cerveja",
        "label": "",
        "format": "",
        "min": 0,
        "max": "1",
        "colors": [
            "#b50000",
            "#e6e600",
            "#6eca38"
        ],
        "seg1": "",
        "seg2": "",
        "x": 540,
        "y": 460,
        "wires": []
    },
    {
        "id": "c8dc43e6.ce5d8",
        "type": "ui_gauge",
        "z": "4c268976.35a2b8",
        "name": "",
        "group": "6b98955.0affeec",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Ovos",
        "label": "",
        "format": "",
        "min": 0,
        "max": "1",
        "colors": [
            "#b50000",
            "#e6e600",
            "#6eca38"
        ],
        "seg1": "",
        "seg2": "",
        "x": 530,
        "y": 520,
        "wires": []
    },
    {
        "id": "1dbea31d.bc3ced",
        "type": "ui_gauge",
        "z": "4c268976.35a2b8",
        "name": "",
        "group": "6b98955.0affeec",
        "order": 7,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Achocolatado",
        "label": "",
        "format": "",
        "min": 0,
        "max": "1",
        "colors": [
            "#b50000",
            "#e6e600",
            "#6eca38"
        ],
        "seg1": "",
        "seg2": "",
        "x": 560,
        "y": 580,
        "wires": []
    },
    {
        "id": "da666c1e.2f663",
        "type": "ui_gauge",
        "z": "4c268976.35a2b8",
        "name": "",
        "group": "6b98955.0affeec",
        "order": 9,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Açucar",
        "label": "",
        "format": "",
        "min": 0,
        "max": "1",
        "colors": [
            "#b50000",
            "#e6e600",
            "#6eca38"
        ],
        "seg1": "",
        "seg2": "",
        "x": 540,
        "y": 640,
        "wires": []
    },
    {
        "id": "a7e30cc0.cf5d2",
        "type": "ui_gauge",
        "z": "4c268976.35a2b8",
        "name": "",
        "group": "6b98955.0affeec",
        "order": 11,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Biscoito",
        "label": "",
        "format": "",
        "min": 0,
        "max": "1",
        "colors": [
            "#b50000",
            "#e6e600",
            "#6eca38"
        ],
        "seg1": "",
        "seg2": "",
        "x": 540,
        "y": 700,
        "wires": []
    },
    {
        "id": "2b3eb4ae.4c967c",
        "type": "ui_gauge",
        "z": "4c268976.35a2b8",
        "name": "",
        "group": "6b98955.0affeec",
        "order": 17,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Café",
        "label": "",
        "format": "",
        "min": 0,
        "max": "1",
        "colors": [
            "#b50000",
            "#e6e600",
            "#6eca38"
        ],
        "seg1": "",
        "seg2": "",
        "x": 530,
        "y": 820,
        "wires": []
    },
    {
        "id": "a48e2051.032e9",
        "type": "ui_gauge",
        "z": "4c268976.35a2b8",
        "name": "",
        "group": "6b98955.0affeec",
        "order": 21,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Carnes",
        "label": "",
        "format": "",
        "min": 0,
        "max": "1",
        "colors": [
            "#b50000",
            "#e6e600",
            "#6eca38"
        ],
        "seg1": "",
        "seg2": "",
        "x": 540,
        "y": 760,
        "wires": []
    },
    {
        "id": "ff5fe0e1.df07f",
        "type": "ui_gauge",
        "z": "4c268976.35a2b8",
        "name": "",
        "group": "6b98955.0affeec",
        "order": 19,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Detergente",
        "label": "",
        "format": "",
        "min": 0,
        "max": "1",
        "colors": [
            "#b50000",
            "#e6e600",
            "#6eca38"
        ],
        "seg1": "",
        "seg2": "",
        "x": 550,
        "y": 920,
        "wires": []
    },
    {
        "id": "f79ba558.9cf4c8",
        "type": "ui_gauge",
        "z": "4c268976.35a2b8",
        "name": "",
        "group": "6b98955.0affeec",
        "order": 15,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Leite",
        "label": "",
        "format": "",
        "min": 0,
        "max": "1",
        "colors": [
            "#b50000",
            "#e6e600",
            "#6eca38"
        ],
        "seg1": "",
        "seg2": "",
        "x": 530,
        "y": 980,
        "wires": []
    },
    {
        "id": "9652f73d.971ab8",
        "type": "ui_gauge",
        "z": "4c268976.35a2b8",
        "name": "",
        "group": "6b98955.0affeec",
        "order": 13,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Pão",
        "label": "",
        "format": "",
        "min": 0,
        "max": "1",
        "colors": [
            "#b50000",
            "#e6e600",
            "#6eca38"
        ],
        "seg1": "",
        "seg2": "",
        "x": 530,
        "y": 1040,
        "wires": []
    },
    {
        "id": "a1612b81.af3118",
        "type": "ui_gauge",
        "z": "4c268976.35a2b8",
        "name": "",
        "group": "6b98955.0affeec",
        "order": 23,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Queijo",
        "label": "",
        "format": "",
        "min": 0,
        "max": "1",
        "colors": [
            "#b50000",
            "#e6e600",
            "#6eca38"
        ],
        "seg1": "",
        "seg2": "",
        "x": 530,
        "y": 1100,
        "wires": []
    },
    {
        "id": "4e351ef2.bf7ed",
        "type": "ui_button",
        "z": "4c268976.35a2b8",
        "name": "",
        "group": "f74dcf8f.44fcf8",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Repor Tudo",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "settings_backup_restore",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 130,
        "y": 280,
        "wires": [
            [
                "562fc373.a0d3ac"
            ]
        ]
    },
    {
        "id": "562fc373.a0d3ac",
        "type": "exec",
        "z": "4c268976.35a2b8",
        "command": "bash /home/pi/reset-db.sh",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Script Reset Topics",
        "x": 430,
        "y": 220,
        "wires": [
            [
                "c3ee17b8.259e38"
            ],
            [],
            [
                "3242b3ec.73e5dc"
            ]
        ]
    },
    {
        "id": "c3ee17b8.259e38",
        "type": "debug",
        "z": "4c268976.35a2b8",
        "name": "OutputLog",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 729,
        "y": 208,
        "wires": []
    },
    {
        "id": "8a911e3f.166f3",
        "type": "mqtt out",
        "z": "4c268976.35a2b8",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "true",
        "broker": "a3a7de06.2a331",
        "x": 410,
        "y": 140,
        "wires": []
    },
    {
        "id": "addd8dc9.97642",
        "type": "ui_button",
        "z": "4c268976.35a2b8",
        "name": "Reposicao",
        "group": "f74dcf8f.44fcf8",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Modo Reposição",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "local_grocery_store",
        "payload": "1",
        "payloadType": "num",
        "topic": "/compras/devices/config/mode",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "8a911e3f.166f3"
            ]
        ]
    },
    {
        "id": "e7888f81.a0976",
        "type": "ui_button",
        "z": "4c268976.35a2b8",
        "name": "ModoPadrao",
        "group": "f74dcf8f.44fcf8",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Modo Padrão",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "done",
        "payload": "0",
        "payloadType": "num",
        "topic": "/compras/devices/config/mode",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "8a911e3f.166f3",
                "fb3bcf62.e294a"
            ]
        ]
    },
    {
        "id": "fb3bcf62.e294a",
        "type": "ui_audio",
        "z": "4c268976.35a2b8",
        "name": "Audio",
        "group": "f74dcf8f.44fcf8",
        "voice": "pt-BR",
        "always": true,
        "x": 410,
        "y": 40,
        "wires": []
    },
    {
        "id": "ce1271a5.746bd",
        "type": "mqtt in",
        "z": "4c268976.35a2b8",
        "name": "Tags",
        "topic": "/compras/devices/#",
        "qos": "0",
        "datatype": "auto",
        "broker": "a3a7de06.2a331",
        "x": 110,
        "y": 520,
        "wires": [
            [
                "8a36e57e.b44b48"
            ]
        ]
    },
    {
        "id": "8a36e57e.b44b48",
        "type": "switch",
        "z": "4c268976.35a2b8",
        "name": "Switch",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "frutas",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "cerveja",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "ovo",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "achocolatado",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "acucar",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "biscoito",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "carnes",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "cafe",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/compras/devices/esp32/leitepo",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "detergente",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/compras/devices/esp32/leite",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "pao",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "queijo",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 13,
        "x": 270,
        "y": 740,
        "wires": [
            [
                "60999632.a77d68"
            ],
            [
                "5b0e54f0.07ad7c"
            ],
            [
                "c8dc43e6.ce5d8"
            ],
            [
                "1dbea31d.bc3ced"
            ],
            [
                "da666c1e.2f663"
            ],
            [
                "a7e30cc0.cf5d2"
            ],
            [
                "a48e2051.032e9"
            ],
            [
                "2b3eb4ae.4c967c"
            ],
            [
                "ab582f96.575d9"
            ],
            [
                "ff5fe0e1.df07f"
            ],
            [
                "f79ba558.9cf4c8"
            ],
            [
                "9652f73d.971ab8"
            ],
            [
                "a1612b81.af3118"
            ]
        ]
    },
    {
        "id": "c90ae92.5ba0418",
        "type": "ui_toast",
        "z": "4c268976.35a2b8",
        "position": "top right",
        "displayTime": "5",
        "highlight": "highlight",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "Comando executado!",
        "name": "MsgOutput",
        "x": 910,
        "y": 280,
        "wires": []
    },
    {
        "id": "6cc9ebd5.72fce4",
        "type": "ui_button",
        "z": "4c268976.35a2b8",
        "name": "TesteCerveja",
        "group": "f74dcf8f.44fcf8",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Teste Cerveja",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "/compras/devices/esp32/cerveja",
        "x": 130,
        "y": 220,
        "wires": [
            [
                "8a911e3f.166f3"
            ]
        ]
    },
    {
        "id": "ab582f96.575d9",
        "type": "ui_gauge",
        "z": "4c268976.35a2b8",
        "name": "",
        "group": "6b98955.0affeec",
        "order": 25,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Leite em Pó",
        "label": "",
        "format": "",
        "min": 0,
        "max": "1",
        "colors": [
            "#b50000",
            "#e6e600",
            "#6eca38"
        ],
        "seg1": "",
        "seg2": "",
        "x": 550,
        "y": 880,
        "wires": []
    },
    {
        "id": "3242b3ec.73e5dc",
        "type": "json",
        "z": "4c268976.35a2b8",
        "name": "Code",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 710,
        "y": 320,
        "wires": [
            [
                "c90ae92.5ba0418",
                "5a6f73a.72a888c"
            ]
        ]
    },
    {
        "id": "5a6f73a.72a888c",
        "type": "debug",
        "z": "4c268976.35a2b8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 890,
        "y": 360,
        "wires": []
    },
    {
        "id": "209bfa2f.deae16",
        "type": "mqtt in",
        "z": "4c268976.35a2b8",
        "name": "Mode",
        "topic": "/compras/devices/config/mode",
        "qos": "0",
        "datatype": "auto",
        "broker": "a3a7de06.2a331",
        "x": 110,
        "y": 380,
        "wires": [
            [
                "7a30246.34987dc"
            ]
        ]
    },
    {
        "id": "7a30246.34987dc",
        "type": "function",
        "z": "4c268976.35a2b8",
        "name": "ValueToText",
        "func": "if (msg.payload == '0') {\n    msg.payload = \"Normal\";\n} else {\n    msg.payload = \"Repondo Estoque\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 360,
        "wires": [
            [
                "5637cee2.c8125"
            ]
        ]
    },
    {
        "id": "5637cee2.c8125",
        "type": "ui_text",
        "z": "4c268976.35a2b8",
        "group": "f74dcf8f.44fcf8",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "TextMode",
        "label": "Modo",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 510,
        "y": 340,
        "wires": []
    }
]